<h1>Listing records</h1>


<% @records.each do |record| %>
  <div class="record">
    <p><b><%= record.name %></b>  -  <%= Artist.where("id = #{record.artist_id}").first.name %></p>
    <%= image_tag("records/#{record.image}", :class => "albumart") %>
    <%= link_to 'Details', "/records/#{record.id}", :class => "details" %>
    </div>
<% end %>